name: Vehicle server
on:
  - push
jobs:
  build_project:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'
      - run: go version
      - run: make all
      - run: ls ./dist
